@import "tailwindcss";
.text-red{
  color: red;
}
/* body{
  height: 100vh;
  overflow: hidden;
} */
.auth-container {
  
  background: linear-gradient(125deg, #1a0b2e 0%, #16213e 25%,
      #0f3460 50%,
      #533483 75%,
      #7209b7 100%
    ),
    radial-gradient(ellipse at top left, rgba(116, 58, 213, 0.15) 0%, transparent 100%),
    radial-gradient(ellipse at bottom right, rgba(74, 21, 75, 0.15) 0%, transparent 100%);
  
}